<link rel="stylesheet" href="../static/css/main.css">

<div class="hero-image1"></div>

{% extends 'base.html' %}

{% block content %} 

        
            <div class="hero-text">       
                <div class="container p-10">
                    <div class="row "><br>
                        <h3 class="p-5">Here are your profile details: </h3>
                            <ul class="list-group width:50%">
                                <li class="list-group-item">Email: {{ current_user.email }}</li>
                                <li class="list-group-item">Token: {{ current_user.token }} </li> 
                            </ul>
                    </div>
                </div>
            </div>
        
        
          
{% endblock %}

