<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../spotify/spotify.css">
    <script src="../spotify/spotify.js" defer></script>
    <title>Staff Picks</title>
</head>

<body>
    
   
{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <div class="gallery">
                    <figure class = "gallery__item gallery__item--1" id="fig1" onclick="event.stopPropagation(); getSong(this.id, event)">
                        <img src="../../static/Images/Breezy.jpg" alt="Breezy Bell Biv DeVoe" class="gallery__img">
                    </figure>
                            
                    <figure class="gallery__item gallery__item--2" id="fig2" onclick="event.stopPropagation(); getSong(this.id, event)">
                        <img src="../../static/Images/DamnYourEyes.jpg" alt="Damn Your Eyes Etta James" class="gallery__img">
                    </figure>

                    <figure class="gallery__item gallery__item--3" id="fig3" onclick="event.stopPropagation(); getSong(this.id, event)">
                        <img src="../../static/Images/NoneofYourBusiness.jpg" alt="None of Your Business Salt-N-Pepa" class="gallery__img">
                    </figure>

                    <figure class="gallery__item gallery__item--4" id="fig4" onclick="event.stopPropagation(); getSong(this.id, event)">
                        <img src="../../static/Images/NumbLittleBug.jpg" alt="Numb Little Bug Em Beihold" class="gallery__img">
                    </figure>

                    <figure class="gallery__item gallery__item--5" id="fig5" onclick="event.stopPropagation(); getSong(this.id, event)">
                        <img src="../../static/Images/Sabotage.jpg" alt="Sabotage Bebe Rexha" class="gallery__img">
                    </figure>
                                  
                    <figure class="gallery__item gallery__item--6" id="fig6" onclick="event.stopPropagation(); getSong(this.id, event)">
                        <img src="../../static/Images/Wifey.jpg" alt="Wifey Next" class="gallery__img">
                    </figure>

                    <figure class="gallery__item gallery__item--7" id="fig7" onclick="event.stopPropagation(); getSong(this.id, event)">
                        <img src="../../static/Images/AllNight.jpg" alt="All Night Big Boi" class="gallery__img">
                    </figure>

                    <figure class="gallery__item gallery__item--8" id="fig8" onclick="event.stopPropagation(); getSong(this.id, event)">
                        <img src="../../static/Images/redesign.jpg" alt="Redesign Awfultune" class="gallery__img">
                    </figure>

                    <figure class="gallery__item gallery__item--9" id="fig9" onclick="event.stopPropagation(); getSong(this.id, event)">
                        <img src="../../static/Images/AboutDamnTime.jpg" alt="About Damn Time Lizzo" class="gallery__img">
                    </figure>

                    <figure class="gallery__item gallery__item--10" id="fig10" onclick="event.stopPropagation(); getSong(this.id, event)">
                        <img src="../../static/Images/TooClose.jpg" alt="Too Close Next" class="gallery__img">
                    </figure>
            
        </div>
        <div class="buttoncontain">
            <button onclick="stopSnippet()">Stop Song</button>
        </div>
    </div>
</body>
</html>

{% endblock %}